<h1>Hello this is show page</h1>
<p><%= Time.now%></p>
<%=@question.body%> <br>
User id: <b><%= @question.user_id%></b>

<p><%= link_to 'Edit question', edit_question_path(@question) %> </p>

<div>
<%= button_to 'Delete question', question_path(@question), method: :delete%>
</div>
<p><%= link_to 'Questions All', '/questions'%> </p>