<div class='container'>
    <h2 class='title'>Join and answer</h2>

    <div class='mt'>
        <%= form_with model: @user do |form| %>
            <p><%= form.label :name, 'Your name' %></p>
            <p><%= form.text_field :name, class: 'from-text-field' %></p>

            <p class='mt'><%= form.label :nickname, 'Nickname' %></p>
            <p><%= form.text_field :nickname, class: 'from-text-field' %></p>

            <p class='mt'><%= form.label :email %></p>
            <p><%= form.text_field :email, class: 'from-text-field' %></p>

            <p class='mt'><%= form.label :password %></p>
            <p><%= form.password_field :password, class: 'from-text-field' %></p>

            <p class='mt-lg'><%= form.submit 'Register', class: 'button button-main' %></p>
        <% end %>
    </div>
</div>
